section {
    display: flex !important;
    width: 100%;
    overflow-x: auto;
    
}
body{
    background-color:#f2f2f2 !important;
}

.section img {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    transform: scale(1);
    transition: all 0.4s ease;
}

img:hover{
    
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 1;
}
.content-display{
    display: block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   
    
}
.col-4 img{

    transform: none !important;
    transition: none !important;
}
hr{
    float:  left !important;
}

#inputValue{
    color: #17a2b8;
    font-size: 25px;
    
    text-align: center;
    
}

.form-control:focus{
    border-color:#17a2b8 !important;
    box-shadow: 0 0 0 0.1rem #17a2b8 !important;
}



.container {
    max-width: 60% !important;
}

#delete:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 1;
}
.form-rounded {
    border-radius: 1.5rem !important;
    }

